################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IronWorkerService/.vs/IronWorkerService
/IronWorkerService/IronWorkerService/bin
/IronWorkerService/IronWorkerService/obj
